.App {
  text-align: center;
  background-image: url("https://pngimg.com/uploads/github/github_PNG20.png");
  background-size:auto;
  background-position: top;
  

  background-repeat: no-repeat;
  
  height:100%;
}
ul {
  list-style-type: none;
}

input{
  margin-bottom: 2%;
}

.calendar{
  background-color:orange;
}
h1{
  color:orange;
  text-shadow: 1px 1px black;
  font-size:3rem;
}


