.follower-list-container{
    color:orange;
    text-shadow: 1px 1px black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  .followers-header{
      width:100%;
      display: flex;
      justify-content: center;
      font-size:2rem;
  }
}